name: LibreLinkUp MQTT
version: "1.0.13"
slug: librelinkup_mqtt
description: Fetch LibreLinkUp data and publish to MQTT (raw + filtered)
url: https://github.com/SpaceTeddy/ha-addon-librelinkup

arch:
  - amd64
  - aarch64
  - armv7

init: false
startup: application
boot: auto
stage: stable

# Discovery/UDP/MDNS
host_network: true

# if TLS-CA refers from /config :
map:
  - config:ro

services:
  - mqtt:need

options:
  email: ""
  password: ""

  interval: 60
  fetch_offset: 5.0
  tz: "Europe/Berlin"

  mqtt_host: "core-mosquitto"
  mqtt_port: 1883
  mqtt_user: ""
  mqtt_password: ""
  mqtt_base_topic: "librelinkup"
  master_id: "MASTER"

  publish_raw: false
  publish_filtered: true
  mqtt_retain: true
  mqtt_qos: 0

  mqtt_publish_health: true
  mqtt_health_retain: true

  debug: false
  log_level: "INFO"

schema:
  email: str
  password: password

  interval: int(10,3600)
  fetch_offset: float(0,60)
  tz: str

  mqtt_host: str
  mqtt_port: int
  mqtt_user: str?
  mqtt_password: password?
  mqtt_base_topic: str
  master_id: str

  publish_raw: bool
  publish_filtered: bool
  mqtt_retain: bool
  mqtt_qos: int(0,2)

  mqtt_publish_health: bool
  mqtt_health_retain: bool

  

  debug: bool
  log_level: list(DEBUG|INFO|WARNING|ERROR)
